@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Kelly+Slab&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

img{
  display: block;
}

a{
  color: inherit;
  text-decoration: none;
}

h2{
  padding-bottom: 24px;
}

body{
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  background: #E3E3E3;

  display: flex;
  flex-direction: column;
}

.wrapper{
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 24px;
}

.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header{
  display: flex;
  flex-direction: column;

  flex-shrink: 0;
}

.header__logo{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  max-width: fit-content;
}
.header__img{

}
.header__title{
  font-family: 'Kelly Slab', sans-serif;
  font-weight: 400;
}

.header-bot{
  width: 100%;
  background: #E04C4C;
  padding: 12px 0;
}

.header-bot__body{
  display: flex;
  justify-content: space-between;
}

.header__links{
  display: flex;
  gap: 46px;
}

.header__link{
  padding: 8px 20px;

  border-radius: 30px;
  border: 2px solid #000;

  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  -webkit-text-stroke: 1px #000;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.356);

  background: #E3E3E3;
  color: #E04C4C;

  transition: .3s ease;
}

.header__link:hover{
  background: #bbbbbb;
  transform: rotateY(360deg);
}

.main{
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.footer{
  background: #E04C4C;
  display: flex;
  gap: 32px;
  justify-content: center;
  flex-shrink: 0;
  font-style: italic;
}

/* Products page */

.catalog{
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.product-card{
  width: calc(33.333% - (32px * 2 / 3));

  display: flex;
  align-items: stretch;
  gap: 8px;


/* толщина; тип; цвет; */
  border: 1px solid #000;

  padding: 16px;
  background: #D9D9D9;
}

.product-card__img{
  border-radius: 6px;
}

.product-card__col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}

.product-card__text{

}

.product-card__button{
  display: flex;
  align-self: flex-end;
}

@media (width < 1200px) {
  .product-card{
    width: calc(50% - (32px * 1 / 2));
  }
}

@media (width < 992px) {
  .product-card{
    width: 100%;
  }
}

